@font-face {
    font-family: 'Roboto';
    src: url('../resources/font/Roboto-Regular.ttf');
}


.inputClass {
    display: block;
    margin: auto;
    margin-bottom: 10%;
    padding-left: 2%;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 80%;
    height: 2em;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;

}

.page-wrapper {
    background-image: url("../resources/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 999;
}

.wallpaper-wrapper {
    width: 75%;
    height: 100%;
    position: inherit;
}

.wallpaper-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4em;
    font-weight: 600;
    margin-top: 5%;
    margin-left: 10%;
    color: black;
}

.form-wrapper {
    background-color: white;
    border-left: 0px solid;
    height: 100%;
    width: 25%;
    float: right;

}

.button {
    display: block;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 5%;
    color: white;
    width: 80%;
    height: 6%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    outline: 0;
    border: 1;
    background-color:  rgb(67, 129, 228);
    border-color:  rgb(67, 129, 228);
}

.login-form-holder {
    height: 8em;
}

.login-form-forgot-pass {
    text-align: center;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(67, 129, 228);
    margin-top: 5%;
}

.login-form-register {
    text-align: center;
    font-size: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(67, 129, 228);
    margin-top: 30%;
}


.title-holder {
    margin: 5%;
    margin-top: 20%;
}

#title-header {
    margin: auto;
    margin-top: 2%;
    font-size: 35px;
    font-family: "Roboto";
    color: rgb(67, 129, 228);
    margin-left: 3%;
    text-shadow: 1px 2px rgb(87, 64, 216)
}

#register-text {
    display: inline-block;
    margin: auto;
}

#sign-up-label {
    font-weight: bolder;
}

#wallpaper-title-text-1 {
    color: white;
}